[Desktop Entry]
Type=Application
Name=Voxygen
Comment=Official Veloren Client
Exec=veloren-voxygen
Path=/tmp
Categories=Game
Keywords=veloren;voxygen
Icon=veloren-voxygen
Terminal=true
Hidden=false
